<div class="row stories">
  <div class="col col-xs-12">
    <h5>Stock Stories</h5>
    <div style="display: flex;">
      <a href="javascript:void(0);" class="circle" onClick="document.getElementById('story-modal').style.display = 'flex'">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-xs-12" style="margin-top: 50px;">
    <button class="btn btn-primary" style="width: calc((100% / 6) - 5px); padding: 10px; margin-right: 5px;">Opportunities</button>
    <button class="btn btn-outline-primary" style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px">Previous Earning Effects</button>
    <button class="btn btn-outline-primary" style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px">Other Whispers From Websites</button>
    <button class="btn btn-outline-primary" style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px">Earning Analyses per Peers</button>
    <button class="btn btn-outline-primary" style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px">Previous Dividend Effects</button>
    <button class="btn btn-outline-primary" style="width: calc((100% / 6) - 5px); padding: 10px; margin-left: 5px;">Competitors</button>
  </div>
  <div class="col col-xs-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Symbol's Opportunities</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <!-- Form Search -->
          <div class="form-search">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <table class="table table-hover table-striped colored-header">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Date</th>
                <th>Eps</th>
                <th>Revenue</th>
                <th>Reason</th>
                <th>Actions</th>
                <th>A.N.C.</th>
                <th>Earnings Whisper</th>
                <th>Seeking Alpha</th>
                <th>Whisper Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
                <td>Not Announced</td>
                <td>Not Announced - 3,300</td>
                <td>Not Exist</td>
              </tr>
            </tbody>
          </table>
          <span>8 Total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-xs-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Earnings with Effects</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <table class="table table-bordered table-hover table-striped colored-header">
            <thead>
              <tr>
                <th>Quarter Year</th>
                <th>Earnings Date</th>
                <th style="max-width: 300px;">Eps / Forecast</th>
                <th style="max-width: 300px;">Revenue / Forecast</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>0.11</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>180.06</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>0.11</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>180.06</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>0.11</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>180.06</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>0.11</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>180.06</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>0.11</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>180.06</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>0.11</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>180.06</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <span>8 Total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-xs-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Other Predictions From Websites</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <table class="table table-bordered table-hover table-striped colored-header">
            <thead>
              <tr>
                <th>Quarter Year</th>
                <th>Earnings Date</th>
                <th style="max-width: 300px;">Eps / Forecast</th>
                <th style="max-width: 300px;">Revenue / Forecast</th>
                <th style="max-width: 300px;">Earnings Whisper</th>
                <th style="max-width: 300px;">Seeking Alpha</th>
                <th style="max-width: 300px;">Whisper Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Q3 - 2021
                </td>
                <td>
                  2021-06-02 (AMC)
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
                <td class="forecast-cell">
                  <div>
                    <span>--</span> <span>/</span> <span>-0.143</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <span>8 Total</span>
        </div>
      </div>
    </div>
  </div>
</div>
