<div class="row stories">
  <div class="col col-xs-12">
    <h5>Stock Stories</h5>
    <div style="display: flex;">
      <a href="javascript:void(0);" class="circle"
        onClick="document.getElementById('story-modal').style.display = 'flex'">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
          xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
          xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
          xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
          xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
          xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
          xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
          xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-xs-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row">
            <div class="col col-xs-12 col-md-6">
              <!-- Media -->
              <a href="/detail" class="media pt-0 pb-2 align-items-center earning-media">
                <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar"
                  width="80">
                <div class="media-body">
                  <h1 class="mb-0">GWRE</h1>
                  <p class="grey font-small-3 m-0">
                    <span data-selected-provider-id="ice" data-exchanges="[]" class="tv-symbol-header__second-line">
                      <span class="tv-symbol-header__second-line--text">AAP</span>
                      <span class="tv-symbol-header__exchange-container">
                        <img src="https://s3-symbol-logo.tradingview.com/country/US.svg" alt=""
                          class="tv-circle-logo tv-circle-logo--small tv-symbol-header__exchange-logo">
                        <span class="tv-symbol-header__exchange"> NYS</span>
                      </span>
                    </span>
                  </p>
                </div>
              </a>
              <!-- /Media -->

              <div class="row">
                <div class="col col-xs-12 col-md-6">
                  <div class="tv-symbol-price-quote js-last-price-block">
                    <div class="tv-symbol-price-quote__row js-last-price-block-value-row">
                      <div class="tv-symbol-price-quote__value js-symbol-last"><span>1430.73</span></div>
                      <div class="tv-symbol-price-quote__supply">
                        <div
                          class="tv-symbol-price-quote__data-mode tv-data-mode tv-data-mode--size_large js-data-mode tv-data-mode--no-realtime tv-data-mode--delayed tv-data-mode--delayed--no-realtime apply-common-tooltip"
                          title="Fiyatlar 15 dakika gecikmeli">G</div>
                        <div class="tv-symbol-price-quote__currency js-symbol-currency">TRY</div>
                      </div>
                      <div
                        class="js-symbol-change-direction tv-symbol-price-quote__change tv-symbol-price-quote__change--falling">
                        <span class="js-symbol-change tv-symbol-price-quote__change-value">−1.31</span>
                        <span class="js-symbol-change-pt tv-symbol-price-quote__change-value">(−0.09%)</span>
                      </div>
                    </div>
                    <div class="tv-symbol-price-quote__sub-line">
                      <span
                        class="js-last-price-block-title tv-symbol-price-quote__market-stat tv-symbol-price-quote__market-stat--closed">Piyasa
                        Kapalı</span>
                      <span class="js-symbol-lp-time">(Haz 02 18:54 UTC+3)</span>
                    </div>
                  </div>
                </div>

                <div class="col col-xs-12 col-md-6">
                  <div class="tv-symbol-price-quote js-last-price-block">
                    <div class="tv-symbol-price-quote__row js-last-price-block-value-row">
                      <div class="tv-symbol-price-quote__value js-symbol-last"><span>1430.73</span></div>
                      <div class="tv-symbol-price-quote__supply">
                        <div
                          class="tv-symbol-price-quote__data-mode tv-data-mode tv-data-mode--size_large js-data-mode tv-data-mode--no-realtime tv-data-mode--delayed tv-data-mode--delayed--no-realtime apply-common-tooltip"
                          title="Fiyatlar 15 dakika gecikmeli">G</div>
                        <div class="tv-symbol-price-quote__currency js-symbol-currency">TRY</div>
                      </div>
                      <div
                        class="js-symbol-change-direction tv-symbol-price-quote__change tv-symbol-price-quote__change--falling">
                        <span class="js-symbol-change tv-symbol-price-quote__change-value">−1.31</span>
                        <span class="js-symbol-change-pt tv-symbol-price-quote__change-value">(−0.09%)</span>
                      </div>
                    </div>
                    <div class="tv-symbol-price-quote__sub-line">
                      <span
                        class="js-last-price-block-title tv-symbol-price-quote__market-stat tv-symbol-price-quote__market-stat--closed">Piyasa
                        Kapalı</span>
                      <span class="js-symbol-lp-time">(Haz 02 18:54 UTC+3)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-xs-12 col-md-6">
              <div class="row">
                <div class="col col-xs-12">
                  <button class="btn btn-primary pull-right" style="height: 42px; margin-left: 10px;">Add To Watch List</button>
                  <button class="btn btn-outline-primary pull-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"><g fill="none" fill-rule="evenodd" stroke="currentColor"><path stroke-linecap="square" d="M21.5 14.5a8 8 0 1 0-8 8m6-6v8m-4-4h8"></path><path d="M10 14.5h3.5V9m-3.277-1.76a3 3 0 1 0-3.993 3.979m14.565-.012a3 3 0 1 0-4.019-3.966"></path></g></svg>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col col-xs-12">
                  <div class="tv-category-header__fundamentals js-header-fundamentals pull-right" style="margin-top: 40px;">
                    <div
                      class="tv-fundamental-block tv-category-header__fundamentals-block apply-common-tooltip js-fund-container"
                      style="display: flex; width: 100%;">
                      <div>
                        <div class="tv-fundamental-block__value js-symbol-prev-close">17-Aug-2021</div>
                        <div class="tv-fundamental-block__title">UPCOMING EARNINGS</div>
                      </div>
                      <div
                        class="tv-fundamental-block tv-category-header__fundamentals-block apply-common-tooltip js-fund-container"
                        title="Açılış Fiyatı">
                        <div class="
                          tv-fundamental-block__value
                          js-symbol-open
                        ">2.61</div>
                        <div class="tv-fundamental-block__title">EPS</div>
                      </div>
                      <div class="tv-fundamental-block tv-category-header__fundamentals-block js-fund-container">
                        <div class="
                          tv-fundamental-block__value
                          js-symbol-volume
                        ">10,330M</div>
                        <div class="tv-fundamental-block__title">MARKET CAP</div>
                      </div>
                      <div class="tv-fundamental-block tv-category-header__fundamentals-block js-fund-container">
                        <div class="
                          tv-fundamental-block__value
                          js-symbol-volume
                        ">2.06%</div>
                        <div class="tv-fundamental-block__title">DIV YIELD</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-xs-12" style="margin-top: 50px;">
    <button [ngClass]="activeTab == 'opportunities' ? 'btn btn-primary' : 'btn btn-outline-primary'"
      style="width: calc((100% / 6) - 5px); padding: 10px; margin-right: 5px;" (click)="activeTab = 'opportunities'">Opportunities</button>
    <button [ngClass]="activeTab == 'with-effects' ? 'btn btn-primary' : 'btn btn-outline-primary'"
      style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px" (click)="activeTab = 'with-effects'">Previous Earning Effects</button>
    <button [ngClass]="activeTab == 'predictions' ? 'btn btn-primary' : 'btn btn-outline-primary'" style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px" (click)="activeTab = 'predictions'">Other
      Whispers From Websites</button>
    <button [ngClass]="activeTab == 'peers' ? 'btn btn-primary' : 'btn btn-outline-primary'"
      style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px" (click)="activeTab = 'peers'">Earning Analyses per Peers</button>
    <button [ngClass]="activeTab == 'effects' ? 'btn btn-primary' : 'btn btn-outline-primary'"
      style="width: calc((100% / 6) - 10px); padding: 10px; margin: 0px 5px" (click)="activeTab = 'effects'">Previous Dividend Effects</button>
    <button [ngClass]="activeTab == 'competitors' ? 'btn btn-primary' : 'btn btn-outline-primary'"
      style="width: calc((100% / 6) - 5px); padding: 10px; margin-left: 5px;" (click)="activeTab = 'competitors'">Competitors</button>
  </div>
  <div class="col col-xs-12 col-md-12" *ngIf="activeTab == 'opportunities'">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Symbol's Opportunities</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <!-- Form Search -->
          <div class="form-search">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-striped colored-header">
              <thead>
                <tr>
                  <th>Ticker</th>
                  <th>Date</th>
                  <th>Eps</th>
                  <th>Revenue</th>
                  <th>Reason</th>
                  <th>Actions</th>
                  <th>A.N.C.</th>
                  <th>Earnings Whisper</th>
                  <th>Seeking Alpha</th>
                  <th>Whisper Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div>
                        <img height="32" width="32" class="rounded-circle mr-2"
                          src="https://s3.polygon.io/logos/ttc/logo.png">
                      </div>
                      <div class="cell-line-height">
                        <a target="blank" href="https://www.dailytradings.com/stock/overview/TTC">
                          <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                          <span class="text-muted font-small-2"> Toro Company</span>
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>
                    03 Jun, BMO
                  </td>
                  <td>
                    1.18
                  </td>
                  <td>
                    1,100
                  </td>
                  <td>
                    <span class="red-dot"></span> Earnings
                  </td>
                  <td>
                    <span class="green-dot"></span> Notr
                  </td>
                  <td>
                    1.6
                  </td>
                  <td>Not Announced</td>
                  <td>Not Announced - 3,300</td>
                  <td>Not Exist</td>
                </tr>
              </tbody>
            </table>
          </div>
          <span>8 Total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-xs-12 col-md-12" *ngIf="activeTab == 'with-effects' || activeTab == 'peers' || activeTab == 'effects' || activeTab == 'competitors'">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Earnings with Effects</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped colored-header">
              <thead>
                <tr>
                  <th style="width: 12.5%;">Quarter Year</th>
                  <th style="width: 12.5%;">Earnings Date</th>
                  <th style="width: 12.5%; max-width: 300px;">Eps / Forecast</th>
                  <th style="width: 12.5%; max-width: 300px;">Revenue / Forecast</th>
                  <th style="width: 50%;" colspan="4"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="chart" style="height: 75px; width: 100%;">
                      <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis"
                      [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                      [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                      [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>0.11</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>180.06</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="chart" style="height: 75px; width: 100%;">
                      <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis"
                      [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                      [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                      [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>0.11</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>180.06</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="chart" style="height: 75px; width: 100%;">
                      <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis"
                      [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                      [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                      [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>0.11</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>180.06</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="chart" style="height: 75px; width: 100%;">
                      <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis"
                      [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                      [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                      [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>0.11</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>180.06</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="chart" style="height: 75px; width: 100%;">
                      <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis"
                      [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                      [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                      [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>0.11</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>180.06</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="chart" style="height: 75px; width: 100%;">
                      <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis"
                      [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                      [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                      [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>0.11</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>180.06</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td colspan="4">
                    <div class="chart" style="height: 75px; width: 100%;">
                      <ngx-charts-line-chart [scheme]="lineChartColorScheme" [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis"
                      [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel"
                      [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel"
                      [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <span>8 Total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-xs-12 col-md-12" *ngIf="activeTab == 'predictions'">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Other Predictions From Websites</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped colored-header">
              <thead>
                <tr>
                  <th>Quarter Year</th>
                  <th>Earnings Date</th>
                  <th style="max-width: 300px;">Eps / Forecast</th>
                  <th style="max-width: 300px;">Revenue / Forecast</th>
                  <th style="max-width: 300px;">Earnings Whisper</th>
                  <th style="max-width: 300px;">Seeking Alpha</th>
                  <th style="max-width: 300px;">Whisper Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    Q3 - 2021
                  </td>
                  <td>
                    2021-06-02 (AMC)
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                  <td class="forecast-cell">
                    <div>
                      <span>--</span> <span>/</span> <span>-0.143</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <span>8 Total</span>
        </div>
      </div>
    </div>
  </div>
</div>
