<div class="row stories">
  <div class="col col-xs-12">
    <h5>Stock Stories</h5>
    <div style="display: flex;">
      <a href="javascript:void(0);" class="circle" onClick="document.getElementById('story-modal').style.display = 'flex'">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
      <a href="#" class="circle">
        <img src="https://s3.polygon.io/logos/nke/logo.png" alt="" />
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
           xml:space="preserve">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-xs-12 col-md-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Upcoming Earnings</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <!-- Media -->
          <a href="/detail" class="media pt-0 pb-2 align-items-center earning-media">
            <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">GWRE</h4>
              <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
            </div>
            <h4 class="font-medium-1">02 Jun</h4>
          </a>
          <!-- /Media -->
          <!-- Media -->
          <a href="/detail" class="media pt-0 pb-2 align-items-center earning-media">
            <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">GWRE</h4>
              <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
            </div>
            <h4 class="font-medium-1">02 Jun</h4>
          </a>
          <!-- /Media -->
          <!-- Media -->
          <a href="/detail" class="media pt-0 pb-2 align-items-center earning-media">
            <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">GWRE</h4>
              <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
            </div>
            <h4 class="font-medium-1">02 Jun</h4>
          </a>
          <!-- /Media -->
          <!-- Media -->
          <a href="/detail" class="media pt-0 pb-2 align-items-center earning-media">
            <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">GWRE</h4>
              <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
            </div>
            <h4 class="font-medium-1">02 Jun</h4>
          </a>
          <!-- /Media -->
          <!-- Media -->
          <a href="/detail" class="media pt-0 pb-2 align-items-center earning-media">
            <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">GWRE</h4>
              <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
            </div>
            <h4 class="font-medium-1">02 Jun</h4>
          </a>
          <!-- /Media -->
        </div>
      </div>
    </div>
  </div>
  <div class="col col-xs-12 col-md-9">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Earning Opportunities</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="table-tab-buttons">
            <button class="btn btn-secondary">
              BMO
            </button>
            <button class="btn btn-outline-secondary">
              ALL
            </button>
            <button class="btn btn-outline-secondary">
              AMC
            </button>
          </div>
          <table class="table table-hover table-striped colored-header">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Date</th>
                <th>Eps</th>
                <th>Revenue</th>
                <th>Reason</th>
                <th>Actions</th>
                <th>A.N.C.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div>
                      <img height="32" width="32" class="rounded-circle mr-2" src="https://s3.polygon.io/logos/ttc/logo.png">
                    </div>
                    <div class="cell-line-height">
                      <a target="blank" href="/detail">
                        <p class="font-medium-1 line-height-1 mb-0">TTC</p>
                        <span class="text-muted font-small-2"> Toro Company</span>
                      </a>
                    </div>
                  </div>
                </td>
                <td>
                  03 Jun, BMO
                </td>
                <td>
                  1.18
                </td>
                <td>
                  1,100
                </td>
                <td>
                  <span class="red-dot"></span> Earnings
                </td>
                <td>
                  <span class="green-dot"></span> Notr
                </td>
                <td>
                  1.6
                </td>
              </tr>
            </tbody>
          </table>
          <span>8 Total</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 60px;">
  <div class="col col-xs-12">
    <div>
      <div>
        <h3 class="text-center">Pride Corner</h3>
      </div>
      <div>
        <div>
          <div class="row match-height" style="display: flex;">
            <!-- Pride -->
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <span class="badge badge-success mb-2 mr-1 pull-right">98%</span>
                    <div>
                      <h5>
                        Hormel Foods Corporation Beats both EPS and Revenue Forecast for Q1,2022.
                      </h5>
                      <p>
                        Hormel Foods Corporation (HRL) reported Q1,2022 EPS (Earnings per share) as 0.41 and Revenue as 2,460.00M. Forecast was 0.41 per share on revenue of 2,370.00M. Our earnings estimate for HRL was exactly MATCHED 😊 as usual.
                      </p>
                    </div>
                    <a href="#" class="media pt-0 align-items-center earning-media">
                      <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
                      <div class="media-body">
                        <h4 class="font-medium-1 mb-0">GWRE</h4>
                        <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
                      </div>
                      <h4 class="font-medium-1">02 Jun</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Pride -->
            <!-- Pride -->
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <span class="badge badge-success mb-2 mr-1 pull-right">98%</span>
                    <div>
                      <h5>
                        Analog Devices Inc. Beats both EPS and Revenue Forecast for Q1,2022.
                      </h5>
                      <p>
                        Analog Devices Inc. (ADI) reported Q1,2022 EPS (Earnings per share) as 1.44 and Revenue as 1,560.00M. Forecast was 1.32 per share on revenue of 1,510.00M. Our earnings estimate for ADI was exactly MATCHED 😊 as usual.
                      </p>
                    </div>
                    <a href="#" class="media pt-0 align-items-center earning-media">
                      <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
                      <div class="media-body">
                        <h4 class="font-medium-1 mb-0">GWRE</h4>
                        <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
                      </div>
                      <h4 class="font-medium-1">02 Jun</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Pride -->
            <!-- Pride -->
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <span class="badge badge-success mb-2 mr-1 pull-right">98%</span>
                    <div>
                      <h5>
                        Agilent Technologies Inc. Beats both EPS and Revenue Forecast for Q1,2022.
                      </h5>
                      <p>
                        Agilent Technologies Inc. (A) reported Q1,2022 EPS (Earnings per share) as 1.06 and Revenue as 1,550.00M. Forecast was 0.90 per share on revenue of 1,440.00M. Our earnings estimate for A was exactly MATCHED 😊 as usual.
                      </p>
                    </div>
                    <a href="#" class="media pt-0 align-items-center earning-media">
                      <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
                      <div class="media-body">
                        <h4 class="font-medium-1 mb-0">GWRE</h4>
                        <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
                      </div>
                      <h4 class="font-medium-1">02 Jun</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Pride -->
            <!-- Pride -->
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <span class="badge badge-success mb-2 mr-1 pull-right">98%</span>
                    <div>
                      <h5>
                        NewMarket Corporation (NEU) shares expected to bounce after beating earnings.
                      </h5>
                      <p>
                        Although NEU beats its EPS estimate, misses Revenue Forecast for Q4,2020. NewMarket Corporation (NEU) reported Q4,2020 EPS (Earnings per share) as 6.12 and Revenue as 527.78M. Forecast was 5.60 per share on revenue of 543.00M. Our earnings estimate for NEU was exactly MATCHED 😊 as usual.
                      </p>
                    </div>
                    <a href="#" class="media pt-0 align-items-center earning-media">
                      <img class="mr-3 avatar rounded" src="https://s3.polygon.io/logos/gwre/logo.png" alt="Avatar" width="35">
                      <div class="media-body">
                        <h4 class="font-medium-1 mb-0">GWRE</h4>
                        <p class="grey font-small-3 m-0">Guideware Software Inc.</p>
                      </div>
                      <h4 class="font-medium-1">02 Jun</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Pride -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
